@charset "utf-8";

.salvar-icon{background-image: url(../resources/images/save.png) !important;}
.novo-icon{background-image: url(../resources/images/new.png) !important;}
.voltar-icon{background-image: url(../resources/images/voltar.png) !important;}
.adicionar-icon{background-image: url(../resources/images/adicionar.png) !important;}
.editar-icon{background-image: url(../resources/images/editar.png) !important;}
.excluir-icon{background-image: url(../resources/images/del.png) !important;}
.cancelar-icon{background-image: url(../resources/images/cancelar.png) !important;}
.pesquisa-icon{background-image: url(../resources/images/pesquisa.png) !important;}

.semPreenchimento {
	background: none !important;
	border: none !important;
}

.semBorda tr, .semBorda td {
	border: none !important;
	background: none !important;
	padding-bottom: 0.2em !important;
	padding-top: 0.2em !important;
}

.ui-growl {
	position: fixed;
	top: 8% !important;
	right: 3% !important;
	width: 301px !important;
}

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 60px;
	box-shadow: 0px 2px 2px #ccc;
	background: #004869;
	background: -moz-linear-gradient(#0095da, #004869);
	background: -webkit-linear-gradient(#0095da, #004869);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095da', endColorstr='#004869')";
	border-bottom: 1px solid #CACACA;
	box-shadow: 0 0 7px #888;
}

header>div {
	margin-left: 8px
}

#conteudo {
	padding: 0px 8px
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px
}

.rotulo {
	width: 120px;
}

/* Menu sistema inicio */
.menu-sistema {
	border: 0px !important;
	padding: 0px !important;
	background: none !important;
}

.menu-sistema .ui-menu-parent>a .ui-menuitem-text, .menu-sistema>.ui-menu-list>.ui-menuitem>a>.ui-menuitem-text
	{
	color: #ffffff !important;
}

.menu-sistema .ui-icon-triangle-1-s {
	background: url(#{ resource [ 'images:seta-para-baixo.png' ]
}
)
no-repeat


;
}
/* Menu sistema fim */